spring:
  profiles:
    active: dev
  mail:
    host: smtp.gmail.com
    port: 587
    username: 'witach98@gmail.com'
    password: 'retsad123'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


jwt:
  secret: polishstation
register:
  expiration-date-days: 30
apis:
  infrastructure-fuel-station:
    uri: https://api.ure.gov.pl/api/InfrastructureFuelStation
    file: ./info/PLInfrastructure.json
  google-api:
    api-key: AIzaSyBhzAitclN7qmw36iBq7a6KiboI_dVHrdg


