spring:

  profiles:
    active: dev
  mvc:
    static-path-pattern: '/static/**'
  mail:
    host: smtp.gmail.com
    port: 587
    username: 'witach98@gmail.com'
    password: 'retsad123'
    protocol: 'smtp'
    properties:
      mail:
        smtp:
          ssl:
            trust: smtp.gmail.com
          auth: true
          starttls:
            enable: true
  devtools:
    restart:
      exclude: info/**


jwt:
  secret: polishstation
register:
  expiration-date-days: 30
apis:
  infrastructure-fuel-station:
    uri: https://api.ure.gov.pl/api/InfrastructureFuelStation
    file: ./info/InfrastructureFuelStation.json
  google-api:
    api-key: AIzaSyBhzAitclN7qmw36iBq7a6KiboI_dVHrdg


